body {
   background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/AES_encryption.jpg);
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

 }
.row {
    margin-top: 25vh;
  }
  h1 {
      margin-top: 0;
  }
.navbar{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    position: sticky;
    top:0px;
    padding-top: -0px;
  }
  .navbar ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 20px;
    
  }
  .navbar ul li{
    
    font-size: 2.1rem;
    font-weight: bold;
  }

  .navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    z-index: 1;
  }
  .navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }


 
